<div
  class="lg:flex lg:h-[884px] lg:justify-between relative w-full h-[700px] bg-black"
>
  <iframe
    src="https://my.spline.design/robotfollowcursorforlandingpage-430580d5a9c2dc12df6a992d9b875ac7/"
    frameborder="0"
    class="h-[100%] w-full absolute lg:relative"
  ></iframe>
  <div class="hidden lg:block w-[70%] h-full bg-black"></div>
  <div
    class="absolute px-5 w-[80%] h-[420px] bg-white/80 rounded-[12px] translate-x-1/2 lg:right-[120px] lg:bg-[#F9FAFC] lg:translate-x-0 -translate-y-1/2 top-1/2 right-1/2 lg:w-[526px] lg:h-[788px] lg:rounded-[41px] lg:px-[81px]"
  >
    <h1
      class="lg:mt-[80px] lg:text-[48px] mt-[32px] text-[32px] text-center text-[#0D6098]"
    >
      SIGN IN
    </h1>
    <label for="" class="mt-[20px] block text-[12px] text-[#717171]">
      <span class="block lg:text-[16px]">Email</span>
      <input
        type="text"
        class="lg:h-[48px] lg:mt-[8px] pl-[20px] rounded-[6px] w-full h-[32px] bg-[#F0F0F0]"
      />
    </label>
    <label for="" class="mt-[20px] block text-[12px] text-[#717171]">
      <span class="lg:text-[16px] block text-[12px]">Password</span>
      <input
        type="password"
        class="lg:h-[48px] lg:mt-[8px] rounded-[6px] pl-[20px] w-full h-[32px] bg-[#F0F0F0]"
      />
      <span class="lg:text-[16px] block mt-[8px] text-right"
        >Forgot password?</span
      >
    </label>
    <div class="lg:mt-[32px] w-full flex justify-center mt-[16px]">
      <button routerLink="/maincharacter" class="lg:h-[48px] bg-[#0D6098] w-full h-[32px] rounded-[12px]">
        <span class="text-white font-bold text-[12px] lg:text-[24px]"
          >Sign in</span
        >
      </button>
    </div>
    <div
      class="lg:mt-[28px] w-full flex justify-between items-center mt-[16px]"
    >
      <div class="w-[40%] h-[0.5px] bg-[#717171]"></div>
      <span class="text-[10px] text-[#717171] lg:text-[14px]">or</span>
      <div class="w-[40%] h-[0.5px] bg-[#717171]"></div>
    </div>
    <div
      class="lg:h-[48px] lg:mt-[32px] mt-[16px] w-full flex justify-center items-center h-[32px] border-[1px] border-[#000000] rounded-[12px]"
    >
      <img
        src="./assets/login/google.svg"
        alt=""
        class="scale-[0.7] lg:scale-1.5"
      />
      <p class="ml-[10px] text-[10px] text-[#717171] lg:text-[16px]">
        Login with Google
      </p>
    </div>
    <p
      class="text-center text-[10px] lg:text-[16px] mt-[12px] lg:mt-[32px] text-[#717171]"
    >
      Don’t have an account?
      <span class="font-bold cursor-pointer" routerLink="/signup">Sign up</span>
    </p>
  </div>
</div>
