<app-pro-meida-x-header-nav></app-pro-meida-x-header-nav>
<div class="relative w-full h-[600px] lg:h-[800px]">
  <iframe
    src="https://my.spline.design/roomrelaxingcopycopy-47b3aee20660cb606a2670263d602b57/"
    frameborder="0"
    class="h-[100%] w-full absolute items-center"
  ></iframe>

  <div
    class="absolute text-[10px] mt-[40px] text-white w-[40%] translate-x-1/2 right-1/2 lg:right-[120px] lg:translate-x-0 lg:w-[37%] lg:mt-[120px]"
  >
    <h1
      class="text-center text-[20px] lg:text-right md:text-[56px] lg:text-[64px]"
    >
      PromediaX
    </h1>
    <p
      class="text-center mt-[20px] lg:text-right lg:text-[16px] text-[#BCBCBC]"
    >
      Discover top-quality multimedia products at
      <span class="font-bold text-[14px] lg:text-[20px] text-white"
        >ProMediaX</span
      >. From audio to video gear, we’ve got everything to elevate your
      entertainment and creative projects. Shop now for the latest tech and fast
      delivery!
    </p>
    <div
      routerLink="/maincharacter"
      class="cursor-pointer mx-auto mt-[20px] w-[50px] h-[24px] flex justify-center items-center rounded-[6px] border-white border-[1px] lg:absolute lg:right-0 lg:w-[116px] lg:h-[36px]"
    >
      <p class="text-[8px] font-bold lg:text-[16px]">View now</p>
    </div>
  </div>
</div>
<div
  class="flex px-5 justify-center lg:justify-between lg:px-[120px] w-full h-[500px] bg-gradient-to-t from-[#050B16] via-[#000709] to-[#0C1130] lg:h-[888px] text-white"
>
  <div
    class="absolute text-center px-5 lg:relative lg:px-[0px] lg:w-[730px] lg:text-left lg:items-center lg:mt-[100px]"
  >
    <p class="text-[10px] tracking-[4px] lg:text-[28px]">BUZZ</p>
    <h1 class="text-[20px] lg:text-[54px]">LIGHTYEAR</h1>
    <p class="text-[10px] text-[#BCBCBC] lg:text-[20px]">
      To the Infinity and Beyond
    </p>
    <p
      class="text-[10px] px-[40px] mt-[260px] text-[#BCBCBC] lg:mt-[64px] lg:px-[0px] lg:align-left lg:text-[20px]"
    >
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English.
    </p>
    <div
      (click)="crollToTop()"
      class="cursor-pointer mx-auto mt-[10px] w-[50px] h-[24px] flex justify-center items-center rounded-[6px] border-white border-[1px] lg:absolute lg:left-0 lg:w-[116px] lg:h-[36px] lg:mt-[60px]"
    >
      <p class="text-[8px] font-bold lg:text-[16px]">Return</p>
    </div>
  </div>
  <img
    src="./assets/homepage/LightYear.svg"
    alt=""
    class="w-[150px] h-[260px] mt-[60px] lg:w-[445px] lg:h-[773px] lg:mt-[0px]"
  />
</div>
<app-promedia-x-footer-nav></app-promedia-x-footer-nav>
