<app-mainheader></app-mainheader>
<!-- F9FAFC -->
<div class="bg-[#F9FAFC] px-5 w-full lg:px-[120px]">
  <div class="relative w-full lg:flex lg:justify-between">
    <div class="text-center pt-[20px] lg:pt-[80px] lg:w-[50%] lg:text-left">
      <h1 class="text-[#002D4A] text-[14px] lg:text-[32px]">This way to buy</h1>
      <h1 class="text-[#0D6098] text-[32px] mt-[8px] lg:text-[120px]">
        CHARACTER
      </h1>
      <p
        class="text-[#002D4A] text-[12px] px-6 mt-[24px] lg:px-0 lg:text-[20px]"
      >
        High-quality 3D models for VFX, game development, VR/AR, architecture,
        and animation.Inspect every mesh and texture before you buy.
      </p>
      <!-- seenow -->
      <div
        class="w-[15%] text-center flex justify-center items-center lg:mt-[32px] lg:h-[48px] lg:mx-0 h-[32px] mx-auto mt-[12px] rounded-[6px] border-[#002D4A] border-[1px]"
      >
        <p
          class="text-[10px] text-[#002D4A] font-bold rounded-[6px] lg:text-[16px]"
        >
          View all
        </p>
      </div>

      <div for="" class="w-ful h-[32px] flex mt-[20px] lg:h-[60px]">
        <input
          type="text"
          placeholder="Search character models"
          class="w-[80%] px-[20px] block bg-[#ececec] lg:rounded-tl-[12px] lg:rounded-bl-[12px] rounded-tl-[4px] rounded-bl-[4px] placeholder:text-[#717171] text-[12px] lg:text-[16px]"
        />
        <button
          class="bg-[#002D4A] w-[20%] lg:rounded-tr-[12px] lg:rounded-br-[12px] flex justify-center items-center"
        >
          <span class="text-white text-[12px] lg:text-[16px]">Search</span>
        </button>
      </div>
    </div>
    <div
      class="w-full h-[250px] lg:w-[50%] flex justify-center items-center lg:h-[360px]"
    >
      <iframe
        src="https://my.spline.design/happyrobotbutton-93eb045bff370eaa0f37720b251a2904/"
        frameborder="0"
        class="h-full w-full lg:scale-[150%]"
      ></iframe>
    </div>
  </div>
  <!-- topmodels -->
  <div class="">
    <div class="text-center">
      <h1 class="text-[#0D6098] text-[20px] lg:text-[52px] lg:mt-[160px]">
        TOP MODELS
      </h1>
      <p
        class="text-[#002D4A] text-[12px] w-[50%] mx-auto lg:text-[24px] mt-[4px]"
      >
        The most purchased and impressive products of the week
      </p>
    </div>
  </div>
  <div class="mt-[45px] w-full overflow-hidden">
    <div
      class="item-container"
      [ngStyle]="{ transform: 'translateX(' + translateX + 'px)' }"
    >
      <div
        class="item min-w-full lg:min-w-[300px] h-[450px] mr-[10px] lg:mr-[90px]"
        *ngFor="let character of characters; let i = index"
      >
        <div
          class="bg-center bg-no-repeat w-full h-full flex relative"
          [ngStyle]="{
            'background-image': 'url(' + character.bgUrlTop + ')',
            'background-position': 'bottom center'
          }"
        >
          <img
            src="{{ character.imgUrl }}"
            alt=""
            class="absolute lg:scale-[100%] scale-[100%] left-1/2 transform -translate-x-1/2 bottom-[120px]"
          />
          <div
            class="w-full h-[100px] px-[20%] lg:px-[10%] sm:px-[35%] absolute bottom-0 text-white flex justify-between items-center"
          >
            <div class="">
              <p class="text-[28px] font-bold">{{ character.name }}</p>
              <div class="flex items-center">
                <p class="text-[14px] font-light">{{ character.type }}:</p>
                <p class="ml-[12px]">{{ character.namemovie }}</p>
              </div>
            </div>
            <div
              class="flex justify-center bg-cover items-center h-[50px] w-[50px] lg:w-[60px] lg:h-[60px] hover:border-[0px] border-[1px] border-white rounded-[10px] hover:bg-[url('/assets/maincharacter/shoppingcart.svg')] relative group"
            >
              <p
                class="lg:text-[14px] text-[12px] font-bold group-hover:hidden"
              >
                ${{ character.price }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full h-[36px] flex lg:justify-between justify-center items-center mt-[12px] lg:mt-[32px]"
  >
    <div class="ml-[10px] hidden lg:block">
      <p class="text-[#504F4F] underline font-bold text-[18px] cursor-pointer">
        View all
      </p>
    </div>
    <!-- button -->
    <div class="w-[210px] flex justify-between">
      <div
        class="flex cursor-pointer justify-center items-center"
        (click)="previous()"
      >
        <img
          src="./assets/maincharacter/back.svg"
          alt=""
          class="lg:scale-[100%] scale-[60%]"
        />
        <button class="ml-[16px] lg:text-[16px] text-[12px]">Previous</button>
      </div>
      <div
        class="flex cursor-pointer justify-center items-center"
        (click)="next()"
      >
        <button class="mr-[16px] lg:text-[16px] text-[12px]">Next</button>
        <img
          src="./assets/maincharacter/next.svg"
          alt=""
          class="lg:scale-[100%] scale-[60%]"
        />
      </div>
    </div>
  </div>

  <!-- new model -->

  <div class="mt-[32px] w-full lg:flex lg:justify-between">
    <div
      class="w-full lg:w-[45%] h-[200px] lg:h-[700px] order-2 lg:items-center flex"
    >
      <div class="text-center lg:text-right">
        <h1 class="text-[#0D6098] text-[20px] lg:text-[48px]">
          NEW MODEL OF THE WEEK
        </h1>
        <p
          class="text-[#002D4A] px-[20px] lg:px-[0] lg:text-[24px] lg:mt-[32px]"
        >
          <span class="text-[#D31101] font-bold">Dash Parr</span> is a
          super-fast kid from The Incredibles. He's energetic, mischievous, and
          the son of Mr. Incredible and Elastigirl.
        </p>
        <button
          class="lg:rounded-[22px] mt-[16px] w-[100px] h-[32px] bg-gradient-to-r from-[#c10f00] to-[#80150b] rounded-[6px] lg:w-[218.88px] lg:h-[70px] lg:mt-[62px]"
        >
          <span
            id="test"
            class="text-white text-[12px] lg:text-[20px] font-thin"
            >Read more</span
          >
        </button>
      </div>
    </div>
    <div class="w-full lg:w-[45%] h-[400px] lg:h-[700px] order-1">
      <div class="w-full h-full relative flex items-end">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/characterstore-32051.appspot.com/o/charactors%2Fbackground%2FDashParr.svg?alt=media&token=e6b89eb1-b244-472e-a4fd-d7a4053ef915"
          alt=""
          class="absolute"
        />
        <!-- imgCharacter -->
        <img
          src="https://firebasestorage.googleapis.com/v0/b/characterstore-32051.appspot.com/o/charactors%2FimgUrl%2FDash%20Parr.svg?alt=media&token=294e45ee-cf1d-47ed-b97f-1142f2f7e3f4"
          alt=""
          class="absolute scale-[67%] lg:scale-[100%] lg:mb-[120px] lg:translate-x-1/2"
        />

        <div
          *ngFor="let lastest of lastestCharacter"
          class="text-white absolute items-center w-full lg:h-[120px] h-[90px] px-[28px] lg:px-[60px] flex justify-between"
        >
          <div class="">
            <p class="font-bold text-[24px] lg:text-[28px]">
              {{ lastest.name }}
            </p>

            <div class="flex items-center">
              <p class="lg:text-[14px] text-[12px] font-light">
                {{ lastest.type }}:
              </p>
              <p
                class="lg:ml-[28px] ml-[14px] font-bold text-[14px] lg:text-[16px]"
              >
                {{ lastest.namemovie }}
              </p>
            </div>
          </div>
          <div
          class="flex justify-center bg-cover items-center h-[50px] w-[50px] lg:w-[60px] lg:h-[60px] hover:border-[0px] border-[1px] border-white rounded-[10px] hover:bg-[url('/assets/maincharacter/shoppingcart.svg')] relative group"
        >
          <p
            class="lg:text-[14px] text-[12px] font-bold group-hover:hidden"
          >
            ${{ lastest.price }}
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
