<app-mainheader></app-mainheader>
<!-- F9FAFC -->
<div class="bg-[#F9FAFC] px-5 w-full lg:px-[120px]">
  <div class="relative w-full lg:flex lg:justify-between">
    <div class="text-center pt-[20px] lg:pt-[80px] lg:w-[50%] lg:text-left">
      <h1 class="text-[#002D4A] text-[14px] lg:text-[32px]">This way to buy</h1>
      <h1 class="text-[#0D6098] text-[32px] mt-[8px] lg:text-[120px]">
        CHARACTER
      </h1>
      <p
        class="text-[#002D4A] text-[12px] px-6 mt-[24px] lg:px-0 lg:text-[20px]"
      >
        High-quality 3D models for VFX, game development, VR/AR, architecture,
        and animation.Inspect every mesh and texture before you buy.
      </p>
      <!-- seenow -->
      <div
        class="w-[15%] text-center flex justify-center items-center lg:mt-[32px] lg:h-[48px] lg:mx-0 h-[32px] mx-auto mt-[12px] rounded-[6px] border-[#002D4A] border-[1px]"
      >
        <p
          class="text-[10px] text-[#002D4A] font-bold rounded-[6px] lg:text-[16px]"
        >
          View all
        </p>
      </div>

      <div for="" class="w-ful h-[32px] flex mt-[20px] lg:h-[60px]">
        <input
          type="text"
          placeholder="Search character models"
          class="w-[80%] px-[20px] block bg-[#ececec] lg:rounded-tl-[12px] lg:rounded-bl-[12px] rounded-tl-[4px] rounded-bl-[4px] placeholder:text-[#717171] text-[12px] lg:text-[16px]"
        />
        <button
          class="bg-[#002D4A] w-[20%] lg:rounded-tr-[12px] lg:rounded-br-[12px] flex justify-center items-center"
        >
          <span class="text-white text-[12px] lg:text-[16px]">Search</span>
        </button>
      </div>
    </div>
    <div
      class="w-full h-[250px] lg:w-[50%] flex justify-center items-center lg:h-[360px]"
    >
      <iframe
        src="https://my.spline.design/happyrobotbutton-93eb045bff370eaa0f37720b251a2904/"
        frameborder="0"
        class="h-full w-full lg:scale-[150%]"
      ></iframe>
    </div>
  </div>
  <!-- topmodels -->
  <div class="">
    <div class="text-center">
      <h1 class="text-[#0D6098] text-[20px] lg:text-[52px] lg:mt-[160px]">
        TOP MODELS
      </h1>
      <p
        class="text-[#002D4A] text-[12px] w-[50%] mx-auto lg:text-[24px] mt-[4px]"
      >
        The most purchased and impressive products of the week
      </p>
    </div>
  </div>
  <div class="w-full flex items-center">
    <div class="xl:flex xl:justify-between w-full">
      <div
        class="xl:w-[290px] w-full h-[450px] mt-[20px] lg:h-[486px]"
        *ngFor="let name of names; let i = index"
      >
        <div
          class="bg-center bg-no-repeat w-full h-full flex relative"
          [ngStyle]="{
          'background-image': 'url(' + name + ')',
          'background-position': 'bottom center',
        }"
        >
          <img
            src="https://firebasestorage.googleapis.com/v0/b/characterstore-32051.appspot.com/o/saddness.svg?alt=media&token=a8dd551d-277b-441a-a7a4-c28d1114be60"
            alt=""
            class="absolute lg:scale-[100%] scale-[80%] left-1/2 transform -translate-x-1/2 bottom-[120px]"
          />
        </div>
      </div>
    </div>
  </div>
  <p class="">aaaaaaaaaaaaaaaaaaaaa</p>
</div>
