<!-- <div class="w-full lg:px-[120px] text-center bg-[#F9FAFC] text-[#002D4A]">
  <h1 class="text-[20px] lg:text-[48px] lg:text-left">PromediaX</h1>
  <div
    class="space-y-[4px] mt-[12px] text-[#BCBCBC] font-bold text-[12px] lg:text-[20px] lg:flex lg:justify-between lg:px-[396px] lg:font-medium lg:mt-[58px]"
  >
    <p class="cursor-pointer">Overview</p>
    <p class="cursor-pointer">Feature</p>
    <p class="cursor-pointer">Careers</p>
    <p class="cursor-pointer">Help</p>
    <p class="cursor-pointer">Privacy</p>
  </div>
  <div
    class="flex px-[120px] justify-between w-full h-[64px] pt-[20px] pb-[20px] lg:px-[533px] lg:pt-[10px] lg:pb-[10px] lg:mt-[12px]"
  >
    <img src="./assets/footer/tw.svg" alt="" class="cursor-pointer" />
    <img src="./assets/footer/ig.svg" alt="" class="cursor-pointer" />
    <img src="./assets/footer/fb.svg" alt="" class="cursor-pointer" />
    <img src="./assets/footer/uni.svg" alt="" class="cursor-pointer" />
    <img src="./assets/footer/be.svg" alt="" class="cursor-pointer" />
  </div>
  <p
    class="mt-[12px] text-[#BCBCBC] font-bold text-[12px] lg:text-[16px] lg:mt-[32px]"
  >
    2024 © ProMediaZ - Copyright belongs to ProMediaX Company Limited
  </p>
</div> -->
<footer class="bg-[#F9FAFC]">
  <div
    class="pt-[60px] lg:pt-[180px] w-full px-5 lg:px-[120px] bg-[#F9FAFC] lg:flex justify-between"
  >
    <div class="text-center">
      <h1 class="text-[#002D4A] lg:text-[24px] lg:text-left">PromediaX</h1>
      <div
        class="mt-[12px] lg:text-center text-[#888888] lg:text-[16px] lg:space-x-[72px] text-[14px] lg:flex"
      >
        <p routerLink="/" class="cursor-pointer">Overview</p>
        <p class="cursor-pointer">Feature</p>
        <p class="cursor-pointer">Careers</p>
        <a
          class="cursor-pointer"
          href="https://www.youtube.com/watch?v=mZ5up0fBj4M"
          >Help</a
        >
        <p routerLink="/policy" class="">Privacy</p>
      </div>
    </div>
    <div class="lg:w-[30%] lg:justify-end mt-[12px] lg:mt-[0px]">
      <h1 class="text-center lg:text-left text-[14px] text-[#002D4A]">
        Join our newsletter
      </h1>
      <div
        class="mt-[12px] w-full flex items-center lg:justify-start justify-center"
      >
        <input
          type="text"
          class="bg-[#F0F0F0] px-[20px] lg:w-[282px] lg:h-[36px] placeholder:text-[10px]"
          placeholder="Enter your email"
        />
        <button
          class="text-center bg-[#0D6098] lg:h-[36px] lg:w-[75px] w-[60px]"
        >
          <span class="text-[12px] text-white"> Search</span>
        </button>
      </div>
    </div>
  </div>
  <div class="px-5 lg:px-[120px] text-[14px] lg:text-[16px]">
    <div class="w-full mt-[32px] h-[1px] bg-[#888888]"></div>
    <div class="w-full lg:flex lg:justify-between mt-[32px]">
      <div
        class="order-2 lg:flex lg:space-x-[16px] text-[#888888] text-center lg:text-right"
      >
        <p routerLink="/" class="cursor-default">About</p>
        <p routerLink="/contact" class="cursor-default">Contact</p>
        <p routerLink="/term" class="cursor-default">Term Of Service</p>
        <p routerLink="/policy" class="cursor-default">Privacy Policy</p>
      </div>
      <div class="order-1">
        <p class="text-[#888888] text-center lg:text-left">
          2024 © ProMediaZ - Copyright belongs to ProMediaX Company Limited
        </p>
      </div>
    </div>
  </div>
</footer>
