<app-mainheader></app-mainheader>
<div class="bg-[#F9FAFC] px-5 w-full lg:px-[120px]">
  <div class="relative w-full lg:flex lg:justify-between">
    <div class="text-center pt-[20px] lg:pt-[80px] lg:w-[50%] lg:text-left">
      <h1 class="text-[#002D4A] text-[14px] lg:text-[32px]">This way to buy</h1>
      <h1 class="text-[#0D6098] text-[32px] mt-[8px] lg:text-[120px]">
        CHARACTER
      </h1>
      <p
        class="text-[#002D4A] text-[12px] px-6 mt-[24px] lg:px-0 lg:text-[20px]"
      >
        High-quality 3D models for VFX, game development, VR/AR, architecture,
        and animation.Inspect every mesh and texture before you buy.
      </p>
      <!-- seenow -->
      <div
        routerLink="/allmodel"
        class="w-[15%] text-center flex justify-center items-center lg:mt-[32px] lg:h-[48px] lg:mx-0 h-[32px] mx-auto mt-[12px] rounded-[6px] border-[#002D4A] border-[1px]"
      >
        <p
          class="text-[10px] text-[#002D4A] font-bold rounded-[6px] lg:text-[16px]"
        >
          View all
        </p>
      </div>

      <div for="" class="w-ful h-[32px] flex mt-[20px] lg:h-[60px]">
        <input
          type="text"
          placeholder="Search character models"
          class="w-[80%] px-[20px] block bg-[#ececec] lg:rounded-tl-[12px] lg:rounded-bl-[12px] rounded-tl-[4px] rounded-bl-[4px] placeholder:text-[#717171] text-[12px] lg:text-[16px]"
        />
        <button
          class="bg-[#002D4A] w-[20%] lg:rounded-tr-[12px] lg:rounded-br-[12px] flex justify-center items-center"
        >
          <span class="text-white text-[12px] lg:text-[16px]">Search</span>
        </button>
      </div>
    </div>
    <div
      class="w-full h-[250px] lg:w-[50%] flex justify-center items-center lg:h-[360px]"
    >
      <iframe
        src="https://my.spline.design/happyrobotbutton-93eb045bff370eaa0f37720b251a2904/"
        frameborder="0"
        class="h-full w-full lg:scale-[120%]"
      ></iframe>
    </div>
  </div>
  <!-- MenuSelectionFile -->
  <div
    class="lg:mt-[120px] mt-[60px] w-full lg:h-[120px] text-[#0D6098] h-[200px] flex justify-between pt-[10px] px-[20px] bg-[#F4F4F4]"
  >
    <!-- 1 -->
    <div class="lg:flex h-full lg:px-[20px] w-[30%] items-center flex">
      <div
        class="space-y-[20px] lg:flex lg:space-y-[0px] lg:justify-between lg:w-full"
      >
        <div class="flex">
          <img src="./assets/allmodel/mb.svg" alt="" class="" />
          <div class="ml-[12px]">
            <p class="text-[14px] font-bold">Maya</p>
            <p class="text-[12px]">3D Model</p>
          </div>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/fbx.svg" alt="" class="" />
          <div class="ml-[12px]">
            <p class="text-[14px] font-bold">FBX</p>
            <p class="text-[12px]">3D Model</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div
      class="lg:flex h-full lg:px-[20px] px-[20px] w-[30%] items-center flex"
    >
      <div
        class="space-y-[20px] lg:flex lg:space-y-[0px] lg:justify-between lg:w-full"
      >
        <div class="flex">
          <img src="./assets/allmodel/c4d.svg" alt="" class="" />
          <div class="ml-[12px]">
            <p class="text-[14px] font-bold">C4D</p>
            <p class="text-[12px]">3D Model</p>
          </div>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/blen.svg" alt="" class="" />
          <div class="ml-[12px]">
            <p class="text-[14px] font-bold">Blender</p>
            <p class="text-[12px]">3D Model</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div
      class="lg:flex lg:px-[20px] h-full px-[20px] w-[30%] items-center flex"
    >
      <div
        class="space-y-[20px] lg:flex lg:space-y-[0px] lg:justify-between lg:w-full"
      >
        <div class="flex">
          <img src="./assets/allmodel/3ds.svg" alt="" class="" />
          <div class="ml-[12px]">
            <p class="text-[14px] font-bold">3DS</p>
            <p class="text-[12px]">3D Model</p>
          </div>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/obj.svg" alt="" class="" />
          <div class="ml-[12px]">
            <p class="text-[14px] font-bold">OBJ</p>
            <p class="text-[12px]">3D Model</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- selection -->
  <div class="w-full h-[268px] lg:flex mt-[40px] hidden">
    <div
      class="w-[80%] h-full px-[40px] items-center bg-[#F4F4F4] flex justify-between"
    >
      <!-- 3div -->
      <div class="space-y-[18px]">
        <div class="flex">
          <img src="./assets/allmodel/animal.svg" alt="" class="" />
          <p class="ml-[12px]">Animals and Pets</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/archi.svg" alt="" class="" />
          <p class="ml-[12px]">Architecture</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/Vector.svg" alt="" class="" />
          <p class="ml-[12px]">Art & Vehicles</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/person.svg" alt="" class="" />
          <p class="ml-[12px]">Characters & Creatures</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/cul.svg" alt="" class="" />
          <p class="ml-[12px]">Cultural Heritage & History</p>
        </div>
      </div>
      <div class="space-y-[18px]">
        <div class="flex">
          <img src="./assets/allmodel/elect.svg" alt="" class="" />
          <p class="ml-[12px]">Electronics & Gadgets</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/fashion.svg" alt="" class="" />
          <p class="ml-[12px]">Fashion & Style</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/food.svg" alt="" class="" />
          <p class="ml-[12px]">Food & Drink</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/music.svg" alt="" class="" />
          <p class="ml-[12px]">Music</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/nature.svg" alt="" class="" />
          <p class="ml-[12px]">Nature & Plants</p>
        </div>
      </div>
      <div class="space-y-[18px]">
        <div class="flex">
          <img src="./assets/allmodel/news.svg" alt="" class="" />
          <p class="ml-[12px]">News & Politics</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/people.svg" alt="" class="" />
          <p class="ml-[12px]">People</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/place.svg" alt="" class="" />
          <p class="ml-[12px]">Places & Travel</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/sci.svg" alt="" class="" />
          <p class="ml-[12px]">Science & Technology</p>
        </div>
        <div class="flex">
          <img src="./assets/allmodel/weapons.svg" alt="" class="" />
          <p class="ml-[12px]">Weapons & Military</p>
        </div>
      </div>
    </div>
    <div class="w-[20%] px-[20px] h-full bg-[#0D6098] flex items-center">
      <div class="space-y-[18px]">
        <div class="flex text-white">
          <img src="../assets/allmodel/bestsl.svg" alt="" class="" />
          <p class="ml-[20px]">Best selling</p>
        </div>
        <div class="flex text-white">
          <img src="../assets/allmodel/ani.svg" alt="" class="" />
          <p class="ml-[20px]">Animated</p>
        </div>
        <div class="flex text-white">
          <img src="../assets/allmodel/low.svg" alt="" class="" />
          <p class="ml-[20px]">Low poly</p>
        </div>
        <div class="flex text-white">
          <img src="../assets/allmodel/hight.svg" alt="" class="" />
          <p class="ml-[20px]">Hight poly</p>
        </div>
        <div class="flex text-white">
          <img src="../assets/allmodel/3d.svg" alt="" class="" />
          <p class="ml-[20px]">3D scan</p>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:hidden w-full mt-[32px]">
    <select class="w-full h-[32px] bg-[#F4F4f4] px-[20px]">
      <option>Animals and Pets</option>
      <option>Architecture</option>
      <option>Art & Vehicles</option>
      <option>Characters & Creatures</option>
      <option>Cultural Heritage & History</option>
      <option>Electronics & Gadgets</option>
      <option>Fashion & Style</option>
      <option>Food & Drink</option>
      <option>Music</option>
      <option>Nature & Plants</option>
      <option>News & Politics</option>
      <option>People</option>
      <option>Places & Travel</option>
      <option>Science & Technology</option>
      <option>Weapons & Military</option>
    </select>
  </div>
  <div class="text-center">
    <h1 class="text-[#0D6098] lg:text-[52px] lg:mt-[72px] mt-[48px]">
      CHARACTERS & CREATURES
    </h1>
  </div>
  <!-- char -->
  <div class="lg:flex justify-between">
    <div
      (click)="setCharacterID(character.id)"
      routerLink="/characterdetail"
      class="mt-[40px] item min-w-full lg:min-w-[339.01px] h-[450px] mr-[10px] lg:hover:-translate-y-[20px]"
      *ngFor="let character of charactersCN; let i = index"
    >
      <div
        class="bg-center bg-no-repeat w-full h-full flex relative"
        [ngStyle]="{
          'background-image': 'url(' + character.bgUrlTop + ')',
          'background-position': 'bottom center'
        }"
      >
        <img
          src="{{ character.imgUrl }}"
          alt=""
          class="absolute lg:scale-[100%] scale-[100%] left-1/2 transform -translate-x-1/2 bottom-[120px]"
        />
        <div
          class="w-full h-[100px] px-[20%] lg:px-[10%] sm:px-[35%] absolute bottom-0 text-white flex justify-between items-center"
        >
          <div class="">
            <p class="text-[28px] font-bold">{{ character.name }}</p>
            <div class="flex items-center">
              <p class="text-[14px] font-light">{{ character.type }}:</p>
              <p class="ml-[12px]">{{ character.namemovie }}</p>
            </div>
          </div>
          <div
            class="flex justify-center bg-cover items-center h-[50px] w-[50px] lg:w-[60px] lg:h-[60px] hover:border-[0px] border-[1px] border-white rounded-[10px] hover:bg-[url('/assets/maincharacter/shoppingcart.svg')] relative group"
          >
            <p class="lg:text-[14px] text-[12px] font-bold group-hover:hidden">
              ${{ character.price }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ar -->
  <div class="text-center">
    <h1 class="text-[#0D6098] lg:text-[52px] lg:mt-[72px] mt-[48px]">
      Architecture
    </h1>
  </div>
  <div class="lg:flex justify-between">
    <div
      routerLink="/characterdetail"
      (click)="setCharacterID(character.id)"
      class="mt-[40px] item min-w-full lg:min-w-[339.01px] h-[450px] mr-[10px] lg:hover:-translate-y-[20px]"
      *ngFor="let character of archi; let i = index"
    >
      <div
        class="bg-center bg-no-repeat w-full h-full flex relative"
        [ngStyle]="{
          'background-image': 'url(' + character.bgUrlTop + ')',
          'background-position': 'bottom center'
        }"
      >
        <img
          src="{{ character.imgUrl }}"
          alt=""
          class="absolute lg:scale-[100%] scale-[100%] left-1/2 transform -translate-x-1/2 bottom-[120px]"
        />
        <div
          class="w-full h-[100px] px-[20%] lg:px-[10%] sm:px-[35%] absolute bottom-0 text-white flex justify-between items-center"
        >
          <div class="">
            <p class="text-[28px] font-bold">{{ character.name }}</p>
            <div class="flex items-center">
              <p class="text-[14px] font-light">{{ character.type }}:</p>
              <p class="ml-[12px]">{{ character.author }}</p>
            </div>
          </div>
          <div
            class="flex justify-center bg-cover items-center h-[50px] w-[50px] lg:w-[60px] lg:h-[60px] hover:border-[0px] border-[1px] border-white rounded-[10px] hover:bg-[url('/assets/maincharacter/shoppingcart.svg')] relative group"
          >
            <p class="lg:text-[14px] text-[12px] font-bold group-hover:hidden">
              ${{ character.price }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- button -->
  <div
    
    class="w-full h-[48px] mt-[32px] lg:mt-[64px] flex justify-center lg:h-[82px]"
  >
    <button
      class="w-[200px] lg:w-[307.39px] text-white bg-[#0D6098] font-bold rounded-lg"
    >
      <span class="lg:text-[16px] text-[12px]">BROWSE All CATEGORIES</span>
    </button>
  </div>
</div>
<app-mainfooter></app-mainfooter>
