<div
  class="lg:flex lg:h-[884px] lg:justify-between relative w-full h-[700px] bg-black"
>
  <iframe
    src="https://my.spline.design/robotfollowcursorforlandingpage-430580d5a9c2dc12df6a992d9b875ac7/"
    frameborder="0"
    class="h-[100%] w-full absolute lg:relative"
  ></iframe>
  <div class="hidden lg:block w-[70%] h-full bg-black"></div>
  <div class="hidden lg:block w-[70%] h-full bg-black"></div>
  <div
    class="absolute px-5 w-[80%] h-[680px] bg-white/80 rounded-[12px] translate-x-1/2 lg:right-[120px] lg:bg-[#F9FAFC] lg:translate-x-0 -translate-y-1/2 top-1/2 right-1/2 lg:w-[854px] lg:h-[788px] lg:rounded-[41px] lg:px-[68px]"
  >
    <h1
      class="lg:mt-[80px] lg:text-[48px] mt-[32px] font-bold text-[32px] text-center text-[#0D6098]"
    >
      SIGN UP
    </h1>
    <div class="lg:flex justify-between">
      <label for="" class="mt-[20px] block text-[12px] text-[#717171]">
        <span class="block lg:text-[16px]">First name</span>
        <input
          #firstname
          type="text"
          class="lg:h-[48px] lg:mt-[8px] w-full pl-[20px] rounded-[6px] lg:w-[337px] h-[32px] bg-[#F0F0F0]"
        />
      </label>
      <label for="" class="mt-[20px] block text-[12px] text-[#717171]">
        <span class="lg:text-[16px] block text-[12px] lg:w-[337px]"
          >Last name</span
        >
        <input
          #lastname
          type="type"
          class="lg:h-[48px] lg:mt-[8px] rounded-[6px] pl-[20px] w-full h-[32px] bg-[#F0F0F0]"
        />
      </label>
    </div>
    <div class="lg:flex lg:justify-between">
      <label for="" class="mt-[20px] block text-[12px] text-[#717171]">
        <span class="block lg:text-[16px]">Phone</span>
        <input
          #phoneNumber
          type="text"
          class="lg:w-[337px] lg:h-[48px] lg:mt-[8px] pl-[20px] rounded-[6px] w-full h-[32px] bg-[#F0F0F0]"
        />
      </label>
      <label for="" class="mt-[20px] block text-[12px] text-[#717171]">
        <span class="lg:text-[16px] block text-[12px]">Email</span>
        <input #email
          type="email"
          class="lg:w-[337px] lg:h-[48px] lg:mt-[8px] rounded-[6px] pl-[20px] w-full h-[32px] bg-[#F0F0F0]"
        />
      </label>
    </div>
    <div class="lg:flex lg:justify-between">
      <label for="" class="mt-[20px] block text-[12px] text-[#717171]">
        <span class="block lg:text-[16px]">Birth day</span>
        <input #brithday
          type="date"
          class="lg:w-[337px] lg:h-[48px] pr-5 lg:mt-[8px] pl-[20px] rounded-[6px] w-full h-[32px] bg-[#F0F0F0]"
        />
      </label>
      <label for="" class="mt-[20px] block text-[12px] text-[#717171]">
        <span class="lg:text-[16px] block text-[12px]">Password</span>
        <input #password
          type="password"
          class="lg:w-[337px] lg:h-[48px] lg:mt-[8px] rounded-[6px] pl-[20px] w-full h-[32px] bg-[#F0F0F0]"
        />
      </label>
    </div>
    <label for="" class="flex mt-[12px] lg:mt-[36px]">
      <input #tickbox type="checkbox" name="" id="" />
      <span class="lg:text-[16px] text-[10px] text-[#717171] ml-[10px]">
        I accepted the
        <span class="font-bold underline">Genaral Terms </span> and
        <span class="font-bold underline">Conditions</span>
      </span>
    </label>
    <div
      class="mt-[12px] lg:mt-[60px] space-y-1 lg:flex lg:justify-between lg:space-y-0 lg:items-center"
    >
      <button (click)="signup(firstname.value,lastname.value,phoneNumber.value,email.value,brithday.value,password.value,tickbox.value)"
        class="lg:w-[338px] lg:h-[48px] bg-[#0D6098] w-full h-[32px] rounded-[12px]"
      >
        <span class="font-bold text-[12px] text-white lg:text-[16x]"
          >Sign up</span
        >
      </button>
      <p
        class="text-center text-[12px] lg:text-center font-bold text-[#717171]"
      >
        or
      </p>
      <div class="flex justify-between lg:w-[338px]">
        <div
          class="lg:w-[155px] flex justify-center items-center lg:h-[48px] border-[#EA4334] border-[1px] w-[45%] h-[32px] rounded-[12px]"
        >
          <img src="./assets/signup/gg.svg" alt="" class="" />
        </div>
        <div
          class="lg:w-[155px] flex justify-center items-center lg:h-[48px] border-[#1878F5] border-[1px] w-[45%] h-[32px] rounded-[12px]"
        >
          <img src="./assets/signup/fb.svg" alt="" class="" />
        </div>
      </div>
    </div>
    <p
      class="text-[12px] text-[#717171] text-center mt-[12px] lg:text-[16px] lg:mt-[44px]"
    >
      Have an account yet?
      <span class="font-bold cursor-pointer" routerLink="/signin"> Log in</span>
    </p>
  </div>
</div>
