<div class="w-full bg-[#050B16] text-center text-white">
  <h1 class="text-[20px] lg:text-[48px]">PromediaX</h1>
  <div
    class="space-y-[4px] mt-[12px] text-[#BCBCBC] font-bold text-[12px] lg:text-[20px] lg:flex lg:justify-between lg:px-[396px] lg:font-medium lg:mt-[58px]"
  >
    <p class="cursor-pointer">About</p>
    <p class="cursor-pointer">Contact</p>
    <p class="cursor-pointer">Term Of Service</p>
    <p class="cursor-pointer">Privacy Policy</p>
  </div>
  <div
    class="flex px-[120px] justify-between w-full h-[64px] pt-[20px] pb-[20px] lg:px-[533px] lg:pt-[10px] lg:pb-[10px] lg:mt-[12px]"
  >
    <img src="./assets/footer/tw.svg" alt="" class="cursor-pointer" />
    <img src="./assets/footer/ig.svg" alt="" class="cursor-pointer" />
    <img src="./assets/footer/fb.svg" alt="" class="cursor-pointer" />
    <img src="./assets/footer/uni.svg" alt="" class="cursor-pointer" />
    <img src="./assets/footer/be.svg" alt="" class="cursor-pointer" />
  </div>
  <p
    class="mt-[12px] text-[#BCBCBC] font-bold text-[12px] lg:text-[16px] lg:mt-[32px]"
  >
    2024 © ProMediaZ - Copyright belongs to ProMediaX Company Limited
  </p>
</div>
