<app-mainheader></app-mainheader>
<div class="w-full bg-[#F9FAFC] px-5 lg:px-[120px] md:flex justify-center">
  <div class="w-full md:w-[30%] text-[#002D4A]">
    <!-- text -->
    <div class="md:hidden w-full flex justify-between items-center">
      <div
        class="w-[45%] h-[32px] border-[1px] flex items-center justify-center"
      >
        <p class="">Filter</p>
      </div>
      <div
        class="w-[45%] h-[32px] border-[1px] flex items-center justify-center"
      >
        <p class="">Sort by</p>
      </div>
    </div>
    <div class="hidden md:block md:pt-[40px] w-full pr-[100px]">
      <p class="text-[#002D4A] lg:text-[24px] font-bold">Filter</p>
      <div class="w-full mt-[60px]">
        <p class="font-medium">Price</p>
        <div class="text-[#797979] flex justify-between mt-[12px]">
          <p class="">0</p>
          <p class="">100</p>
        </div>
        <div class="w-full h-[20px] relative flex items-center">
          <div class="w-full h-[10px] bg-[#F6F4F2]"></div>
          <div class="absolute w-[20px] h-[20px] bg-[#D9D9D9]"></div>
          <div class="absolute right-0 w-[20px] h-[20px] bg-[#D9D9D9]"></div>
        </div>
        <div
          class="mt-[20px] w-full h-[50px] flex items-center justify-between"
        >
          <div class="w-full">
            <div class="flex items-center">
              <p class="text-[14px]">From</p>
              <div
                class="w-[80px] ml-[12px] font-bold text-[#002D4A] justify-center rounded-[12px] flex items-center h-[32px] bg-[#F6F4F2]"
              >
                <p class="">$0</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="flex items-center">
              <p class="text-[14px]">To</p>
              <div
                class="w-[80px] ml-[12px] font-bold text-[#002D4A] justify-center rounded-[12px] flex items-center h-[32px] bg-[#F6F4F2]"
              >
                <p class="">$0</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full mt-[56px]">
        <p class="">Format</p>
        <div class="w-full space-y-[16px] mt-[20px]">
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Any</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Maya</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">FBX</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">C4D</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Blender</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">3DS</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">OBJ</p>
          </div>
        </div>
      </div>

      <div class="w-full mt-[56px]">
        <p class="">From</p>
        <div class="w-full space-y-[16px] mt-[20px]">
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Any</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Disney</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Cartoon NetWork</p>
          </div>
        </div>
      </div>

      <div class="w-full mt-[56px]">
        <p class="">Poly count</p>
        <div class="w-full space-y-[16px] mt-[20px]">
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Any</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Up to 50k</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">50k to 100k</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">100k+</p>
          </div>
          <div class="w-full text-[14px] flex justify-between">
            <p class="">0</p>
            <p class="">100</p>
          </div>
          <div class="w-full h-[20px] flex items-center relative">
            <div class="w-full h-[10px] bg-[#F6F4F2]"></div>
            <div class="absolute w-[20px] h-[20px] bg-[#D9D9D9]"></div>
            <div class="absolute right-0 w-[20px] h-[20px] bg-[#D9D9D9]"></div>
          </div>
          <div class="w-full text-[14px] flex justify-between">
            <div class="flex items-center">
              <p class="">To:</p>
              <div
                class="ml-[20px] w-[60px] h-[40px] bg-[#F6F4F2] flex justify-center items-center"
              >
                <p class="font-bold">$0</p>
              </div>
            </div>
            <div class="flex items-center">
              <p class="">To:</p>
              <div
                class="ml-[20px] w-[60px] h-[40px] bg-[#F6F4F2] flex justify-center items-center"
              >
                <p class="font-bold">$100</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- other -->
      <div class="w-full mt-[56px]">
        <p class="">Other</p>
        <div class="w-full space-y-[16px] mt-[20px]">
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">PBR</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Animate</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Rigged</p>
          </div>
          <div class="flex">
            <input type="checkbox" name="" id="" />
            <p class="text-[14px] ml-[24px]">Show Restricted</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-[70%]">
    <div class="w-full md:text-left pt-[40px]">
      <p class="text-center text-[#B7B7B7] text-[10px] md:text-[24px]">
        Homepage / Browse the model
      </p>
      <h1 class="text-[#0D6098] text-center text-[24px] md:text-[56px]">
        CHARACTERS & CREATURES
      </h1>
      <p class="text-[#B7B7B7] text-center mt-[24px]">
        Showed {{ allcharacter.length }} models
      </p>

      <!-- <div class="w-full flex" *ngFor="let character of allcharacter">
        <div
          class="w-[243.27px] rounded-[32px] bg-no-repeat mt-[100px] h-[247.07px] flex items-end relative"
          [ngStyle]="{
            'background-image': 'url(' + character.urlBg + ')',
           
          }"
        >
          <img
            src="{{ character.imgUrl }}"
            alt=""
            class="scale-[70%] absolute left-0 -translate-y-1/4 translate-x-1/8"
          />
          <div
            class="w-full flex text-white items-center justify-between h-[80px] px-5"
          >
            <div class="">
              <p class="font-bold text-white">{{ character.name }}</p>
              <div class="flex items-center">
                <p class="text-[12px]">{{ character.type }}:</p>
                <p class="font-bold ml-[12px]">{{ character.namemovie }}</p>
              </div>
            </div>
            <div
              class="w-[50px] h-[50px] border-white border-[1px] rounded-[12px] flex justify-center items-center"
            >
              <p class="font-bold text-white text-[10px]">
                ${{ character.price }}
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="w-full lg:grid lg:grid-cols-3 lg:gap-6">
      <div
        class="w-[243.27px] mx-auto lg:mx-0 rounded-[32px] bg-no-repeat mt-[100px] h-[247.07px] flex items-end relative"
        *ngFor="let character of allcharacter"
        [ngStyle]="{
          'background-image': 'url(' + character.urlBg + ')'
        }"
      >
        <img
          src="{{ character.imgUrl }}"
          alt=""
          class="scale-[70%] absolute left-0 -translate-y-1/4 translate-x-1/8"
        />
        <div
          class="w-full flex text-white items-center justify-between h-[80px] px-5"
        >
          <div class="">
            <p class="font-bold text-white">{{ character.name }}</p>
            <div class="flex items-center">
              <p class="text-[12px]">{{ character.type }}:</p>
              <p class="font-bold ml-[10px]">{{ character.namemovie }}</p>
            </div>
          </div>
          <div routerLink="/characterdetail"
          (click)="setCharacterID(character.id)"
            class="flex justify-center bg-cover items-center h-[50px] w-[50px] hover:border-[0px] border-[1px] border-white rounded-[10px] hover:bg-[url('/assets/maincharacter/shoppingcart.svg')] relative group"
          >
            <p class=" text-[12px] font-bold group-hover:hidden">
              ${{ character.price }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mainfooter></app-mainfooter>
